@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}
<br />
<div class="text-center">
    <a asp-page="/ViewKuch/Index" class="text-decoration-none"><h2 class="text-info">Kuchařka</h2></a>
    <br />
    <p>Zkušební aplikace na CRUD operace. <br />
    Databáze receptů, které je možné přidávat, zobrazit, upravit, smazat.</p>
</div>